body {
	background-color: #211e1e;
}

a.link {
	color: #d8caca;
}

a.link:hover {
	color: #fff;
}

.main {
	  max-width: 720px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
}

.logo {
	height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text {
	color: #d8caca;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 34px;
}

.nav {
	width: 100%;
	height: 50px;
	position: fixed;
}

.nav a[class^="icon-"] {
	font-size: 30px;
	text-decoration: none;
	margin: 10px 25px 10px 0px;
	transition: color .3s;
	float: right;
	color: #d8caca;
}

.nav a.icon-github:hover {
	color: #F2385A;
}

.nav a.icon-linkedin {
	position: relative;
	top-margin: -2px;
}

.nav a.icon-linkedin:hover {
	color: #F5A503;
}
.nav a.icon-twitter {
	margin: 10px 20px 10px 0px;
}

.nav a.icon-twitter:hover {
	color: #4AD9D9;
}

.nav a.icon-facebook {
	margin: 10px 30px 10px 0px;
}

.nav a.icon-facebook:hover {
	color: #CDE855;
}
